/* Your custom styles */
.my-images {
    --swiper-pagination-color:  rgb(241 245 249);
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 0px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: rgb(203 213 225);
    --swiper-pagination-bullet-inactive-opacity: .2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 3.5px;
    --swiper-pagination-bullet-vertical-gap: 6px;
    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 270px;
    --swiper-navigation-sides-offset: 24px;
    --swiper-navigation-color: rgb(241 245 249)
  }

  .my-videos {
    --swiper-pagination-color:  rgb(241 245 249);
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 0px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: rgb(203 213 225);
    --swiper-pagination-bullet-inactive-opacity: .2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 400px;
    --swiper-navigation-sides-offset: 24px;
    --swiper-navigation-color: rgb(241 245 249)
  }